*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.expense-date{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    width: 110px;
    margin-right: 20px;
    border: 2px solid #a2a5af;
}
.month{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.year{
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

.day{
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}